html{
        box-sizing: border-box;
}

*, *::before, *::after{
        box-sizing: inherit;
}

body {
        font-family: "Playfair Display",'Arial', serif;
        color: #626262;
        font-size: 14px;
        line-height: 24px;
}
.container{
        width: 900;
}
ul{
        width:auto;
        margin:auto;

}
.site-navigation{
        font-size: 14px;
        text-transform: uppercase;
        list-style: none;
        margin: auto;
}

.site-navigation a {
        color: #626262;
        text-decoration: none;

}

figcaption{
        font-family: 'Ubuntu', sans-serif;
        color: #b4ad9e;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;

}

h2{
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
}

.nav-item{
        display: inline-block;
}

.nav-link{
        display: block;
        width: ;
        text-align: center;
        
}

.nav-link:hover {
         color: #03a9f4;
 }

